<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nimbus - Phoenix Code Samples</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue_grey-indigo.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script defer src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body class="mdl-nimbus mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout__header-row">
          <a href="/" class="mdl-navigation__link">
            <span class="mdl-layout-title">nimbus</span>
          </a>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-navigation">
            <span class="mdl-layout-title subheading">A Collection of Examples for the Phoenix Web Framework</span>
            <a href="https://github.com/neojin/nimbus" class="mdl-navigation__link">
              <i class="fa fa-github fa-lg"></i>
            </a>
          </div>
        </div>
      </header>
      <main class="mdl-nimbus-main mdl-layout__content">
        <%= render @view_module, @view_template, assigns %>
        <div class="clear"></div>
        <%= render "github.html", urls: assigns[:github_defined_urls], description: "Relevant Files for this controller/action" %>
        <br/>
        <%= render "github.html", urls: assigns[:github_common_urls], description: "Common Files typically involved in every controller/action" %>
      </main>
    </div>
  </body>
</html>
