<%= if @urls do %>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp github-links-table">
    <tr>
      <th class="mdl-data-table__cell--non-numeric fullwidth"><%= @description %></th>
    </tr>
    <%= for { path, url } <- @urls do %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <div><%= path %></div>
          <div><%= link url, to: url %></div>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
