/* TODO: convert to sass */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

header .subheading {
  font-size: 95%;
  color: rgba(255,255,255,.50);
}

main.mdl-nimbus-main {
  padding: 20px;
}

.nimbus-sample-card.mdl-card {
  width: 320px;
  float: left;
  margin: 1rem;
  position: relative;
}

.github-panel {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(0,0,0,.1);
}

.github-panel .logo {
  text-align: center;
  color: rgba(0,0,0,.5);
}

table.github-links-table {
  width: 100%;
}

table.github-links-table th {
  width: 100%;
}

