/* This file is for your main application css. */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

table.github-links-table {
  width: 100%;
}

table.github-links-table th {
  width: 100%;
}
